/**
 * General button styling.
 */

/**------------------------------------------------------------------------------
 * Base Button Placeholders/Mixins
 -------------------------------------------------------------------------------*/

// Parent styles that all buttons will inherit.
.base-button
{
    border:none;
    border-radius: $border-radius;
    background-color: $dark-grey;
    transition: $transition-speed all;
    transtition-timing-function: ease-in-out;
    padding: $button-height $button-width;
    font-size: $font-size;
    font-weight: 500;
    margin-top: 5px;
}

/**------------------------------------------------------------------------------
 * Button Implementation
 ------------------------------------------------------------------------------*/

input[type="submit"],
button {

    @extend .base-button;

    &.btn-dark {
        background-color: $black;
        color: $light-grey;
    }

    &.btn-light {
        background-color: $dark-grey;
        color: $black;
    }

    &.btn-accent {
        background-color: $accent;
        color: $white;
    }

    &.btn-small
    {
        padding: 5px 16px;
        display: inline;
    }

    &:hover {
        background-color: $light-grey;
        color: $accent;
    }
}
