/**------------------------------------------------------------------------------
 * Table Styles
 ------------------------------------------------------------------------------*/

$cell-padding: 14px;

table
{
    text-align: left;

    tr
    {
        th
        {
            padding: $cell-padding;
            background-color: $dark-grey;
        }

        td
        {
            padding: $cell-padding;
            border: 1px solid $dark-grey;
        }
    }
}
