/**
 * Text styles like colors, weights etc.
 */

@use "sass:color";

.text-padding
{
    padding: 10px;
}

.text-light {
    color : color.scale($dark-grey, $lightness: -44%);
    font-weight: 500;
}

.text-dark {
    color : $black;
}

.text-accent {
    color: $accent;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

.text-underline
{
    text-decoration: underline;
}

.text-highlight-dark
{
    @extend .text-padding;
    background-color: $dark-grey;
}

.text-highlight-light
{
    @extend .text-padding;
    background-color: $light-grey;
}

.text-highlight-accent
{
    @extend .text-padding;
    background-color: $accent;
    color: $white;
}

.text-center
{
    text-align: center;
}
