/**------------------------------------------------------------------------------
 * Miscellaneous/General Variables.
 -------------------------------------------------------------------------------*/

// Animation related styles
$transition-speed: 0.11s;

// Button, input etc styles
$border-radius: 6px;
$button-height: 9px;
$button-width: 20px;

// Responsive breakpoints
$large-breakpoint: 1200px;
$medium-breakpoint: 992px;
$small-breakpoint: 540px;

// Other
$global-padding: 10px;
$grid-row-gap: 2rem;
$grid-row-column: 2rem;
