/**------------------------------------------------------------------------------
 * Miscellaneous/General Variables.
 -------------------------------------------------------------------------------*/


/**------------------------------------------------------------------------------
 * Animation Related Styles
 ------------------------------------------------------------------------------*/
$transition-speed: 0.11s;


/**------------------------------------------------------------------------------
 * Button Styles
 ------------------------------------------------------------------------------*/
$border-radius: 6px;
$button-height: 9px;
$button-width: 20px;


/**------------------------------------------------------------------------------
 * Form Input
 ------------------------------------------------------------------------------*/
$form-input-margin: 10px;
$form-input-padding: 7px;


/**------------------------------------------------------------------------------
 * Other
 ------------------------------------------------------------------------------*/
$global-padding: 10px;
$grid-row-gap: 2rem;
$grid-row-column: 2rem;


/**------------------------------------------------------------------------------
 * Responsive Breakpoints
 ------------------------------------------------------------------------------*/
$large-breakpoint: 1200px;
$medium-breakpoint: 992px;
$small-breakpoint: 540px;
