/**
 * Miscellaneous variables are defined in this file.
 */

// Animation related styles
$transition-speed: 0.11s;

// Button, input etc styles
$border-radius: 8px;

// Responsive breakpoints
$large-breakpoint: 1200px;
$medium-breakpoint: 992px;
$small-breakpoint: 540px;

// Other
$dp-global-padding: 20px;
