/**------------------------------------------------------------------------------
 * Base Grid Placeholders/Mixins
 -------------------------------------------------------------------------------*/

// Variables --------------------------------------------------------------------

$grid-row-gap: 2rem;
$grid-row-column: 2rem;
// ------------------------------------------------------------------------------


// Container class that only sets a max-width and centers the content.
.container
{
    @include center($large-breakpoint);
    padding: $global-padding;
}

// Base grid styles that all grid classes should extend.
.base-grid
{
    @include center($large-breakpoint);
    display: grid;
    grid-row-gap: $grid-row-gap;
    grid-column-gap: $grid-row-column;
    padding: $global-padding;
}

// Set the maximum amount of columns available inside a grid container.
@mixin max-columns($columns)
{
    grid-template-columns: repeat(auto-fit, minmax( ($large-breakpoint - 200px) / $columns, 1fr));
}

/**------------------------------------------------------------------------------
 * Grid Implementations
 ------------------------------------------------------------------------------*/

// .grid class is meant to act as a general grid container with a maximum of
// three columns. Other column widths are also available like .grid-2 etc.
.grid 
{
    @extend .base-grid;
    @include max-columns(3);
}

// .grid-1 class has a maximum width of one column.
.grid-1
{
    @extend .base-grid;
    grid-template-columns: repeat(auto-fit, minmax( 1fr, 1fr));
}

// .grid-2 class has a maximum width of two columns.
.grid-2
{
    @extend .base-grid;
    @include max-columns(2);
}

// .grid-4 class has a maximum width of four columns.
.grid-4
{
    @extend .base-grid;
    @include max-columns(4);
}

.base-grid
{
    article 
    {
        //background-color: $light-grey;
        //border: 1px solid $dark-grey;
        display: block;
        font-size: $font-size;
    }
}

/**------------------------------------------------------------------------------
 * Media Queries
 -------------------------------------------------------------------------------*/

// This part is here to see how well it works on its own.
@media all and (min-width: 480px)
{
    body
    {
        margin: 20px;
    }
}

//@media all and (min-width: 1024px) and (max-width: 1280px) {}

//@media all and (min-width: 768px) and (max-width: 1024px) 
//{
//body 
//{
//margin: 20px;
    //}
    //}

    //@media all and (min-width: 480px) and (max-width: 768px) 
    //{
    //body
    //{
        //margin: 20px;
    //}
    //}

    //@media all and (max-width: 480px) { 
        //body {
            //margin: 20px;
        //}
        //}

        //[> Portrait <]
        //@media screen and (orientation:portrait) { [> Portrait styles here <] }
        //[> Landscape <]
        //@media screen and (orientation:landscape) { [> Landscape styles here <] }
