/**
 * Doppio Grid System - work in progress. Removal probable.
 */


/**------------------------------------------------------------------------------
 * Base Grid Styles
 -------------------------------------------------------------------------------*/

/**
 * .grid class is meant to act as a general grid container with a maximum of
 * three columns. Other column widths are also available like .grid-2 etc.
 */
.grid 
{
    @include center($large-breakpoint);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( ($large-breakpoint - 150) / 3, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    align-content: center;
    padding: $global-padding;

    article 
    {
        background-color: $light-grey;
        border: 1px solid $dark-grey;
        display: block;
        padding: 20px;
        font-size: 0.91rem;
    }
}

/**
 * .grid-2 class has a maximum width of two columns.
 */
.grid-2
{
    @include center($large-breakpoint);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( ($large-breakpoint - 150) / 2, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    align-content: center;
    padding: $global-padding;

    article 
    {
        background-color: $light-grey;
        border: 1px solid $dark-grey;
        display: block;
        padding: 20px;
        font-size: 0.91rem;

        button
        {
            display: inline;
            width: 100%;
        }
    }
}

/**------------------------------------------------------------------------------
 * Media Queries
 -------------------------------------------------------------------------------*/
// This part is here to see how well it works on its own.
@media all and (min-width: 480px)
{
    body
    {
        margin: 20px;
    }
}

//@media all and (min-width: 1024px) and (max-width: 1280px) {}

//@media all and (min-width: 768px) and (max-width: 1024px) 
//{
    //body 
    //{
        //margin: 20px;
    //}
//}

//@media all and (min-width: 480px) and (max-width: 768px) 
//{
    //body
    //{
        //margin: 20px;
    //}
//}

//@media all and (max-width: 480px) { 
    //body {
        //margin: 20px;
    //}
//}

//[> Portrait <]
//@media screen and (orientation:portrait) { [> Portrait styles here <] }
//[> Landscape <]
//@media screen and (orientation:landscape) { [> Landscape styles here <] }

